<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="logo-apple"></ion-icon>
                            </span>
                            <span class="title">NM Kỳ Nam</span>
                        </a>
                    </li>

                    <li>
                        <a href="/">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/create">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Tạo mới Lệnh nhập xuất</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="receipt-outline"></ion-icon>
                            </span>
                            <span class="title">Kế hoạch sản xuất</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="business-outline"></ion-icon>
                            </span>
                            <span class="title">Tồn kho Inox Cuộn</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </span>
                            <span class="title">Setting</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Main -->
            <div class="main">
                    <div class="topbar">
                        <div class="toggle">
                            <ion-icon name="menu-outline"></ion-icon>
                        </div>
                        <div class="search">
                            <label>
                                <input type="text" placeholder="Search here">
                                <ion-icon name="search-outline"></ion-icon>
                            </label>
                        </div>
                        <div class="user">
                            <img src="/images/1.jpg" alt="">
                        </div>
                    </div>
                    
                    
                <!-- CARD -->
                <div class="cardBox">
                    
                    <div class="card">
                        <div>
                            <div class="numbers">1.504</div>
                            <div class="cardName">Daily Views</div>
                        </div>
                        
                        <div class="iconBx">
                            <ion-icon name="diamond-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <div class="numbers">1.504</div>
                            <div class="cardName">Daily Views</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="diamond-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <div class="numbers">1.504</div>
                            <div class="cardName">Daily Views</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="diamond-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <div class="numbers">1.504</div>
                            <div class="cardName">Daily Views</div>
                        </div>
                        <div class="iconBx">
                            <ion-icon name="diamond-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <!-- Order Detail List -->
                <div class="details">
                    <div class="listlenhnhapxuat">
                        <div class="cardHeader">
                            <h2>List Lệnh Nhập Xuất</h2>
                            <a href="#" class="btn">View All</a>
                        </div>

                        <table>
                            
                            
                            <thead>

                                <tr>
                                    <td>Khách hàng</td>
                                    <td>Loại nhập xuất</td>
                                    <td>Thời gian nhận hàng</td>
                                    <td>Tên vật tư</td>
                                    <td>Quy Cách</td>
                                    <td>Số lượng</td>
                                    <td>Trọng lượng</td>
                                    <td>Đơn giá</td>
                                    <td>CBKD</td>
                                    <td>Status</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <% listLnx.forEach(function(lnx){ %>
                                    <tr>
                                        <td><%= lnx.khachhang %></td>
                                        <td><%= lnx.loainhapxuat %></td>
                                        <td><%= lnx.thoigiannhanhang %></td>
                                        <td><%= lnx.tenvattu %></td>
                                        <td><%= lnx.quycach %></td>
                                        <td><%= lnx.soluong %></td>
                                        <td><%= lnx.trongluong %></td>
                                        <td><%= lnx.dongia %></td>
                                        <td><%= lnx.cbkd %></td>
                                        <td><span class="status <%= lnx.status %>"><%= lnx.status %></span></td>
                                        <td><a href="/update/<%= lnx.id %>" class="button-edit-delete" id="button-edit-delete">Edit</a></td>
                                        <td>
                                            
                                            <form action="/delete-lnx/<%= lnx.id %>" method="get" >
                                                <a href="/delete-lnx/<%= lnx.id %>" class="button-edit-delete" id="button-edit-delete">Delete</a>
                                            </form>
                                                
                                            
                                            
                                        </td>
                                        
                                        
                                        <!-- <td><span class="status pending"><%= lnx.status %></span></td>
                                        <td><span class="status return"><%= lnx.status %></span></td>
                                        <td><span class="status inprogress"><%= lnx.status %></span></td> -->
                                    </tr>
                                    <%});%>
                                    
                            </tbody>
                            
                        </table>
                    </div>
                    <div class="editlnx">
                        <div class="cardHeader2">
                            <h2>Create LNX</h2>
                            <form id="contact" action="/create-lnx" method="post">
                            <fieldset>
                              <input placeholder="Tên Khách hàng" type="text" tabindex="1" name="khachhang">
                            </fieldset>
                            <fieldset>
                              <input placeholder="Loại Nhập Xuất" type="text" tabindex="2" name="loainhapxuat">
                            </fieldset>
                            <fieldset>
                              <input placeholder="Thời gian nhận hàng" type="text" tabindex="3" name="thoigiannhanhang">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Tên vật tư" type="text" tabindex="4" name="tenvattu">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Quy Cách" type="text" tabindex="5" name="quycach">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Số lượng" type="text" tabindex="6" name="soluong">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Trọng lượng" type="text" tabindex="7" name="trongluong">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Đơn giá" type="text" tabindex="8" name="dongia">
                            </fieldset>
                            <fieldset>
                                <input placeholder="CBKD" type="text" tabindex="9" name="cbkd">
                            </fieldset>
                            <fieldset>
                                <input placeholder="Status" type="text" tabindex="10" name="status">
                            </fieldset>
                            <fieldset>
                                <div class="container-btn-createlnx">
                                    <button id="button"></button>
                                  </div>
                            </fieldset>
                            
                            <!-- <fieldset>
                              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                            </fieldset> -->
                        </form>
                        </div>
                </div>
            </div>
    </div>
    <script src="/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>