<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhà Máy Kỳ Nam II</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="topnav">
        <a href="/" >Home</a>
        <a href="/create" >Đăng Ký</a>
        <a href="/createlnx">Nhập Lệnh</a>
        <a href="/khsx" class="active">Kế hoạch sản xuất</a>
        <a href="#about">About</a>
    </div>
    
    <div class="table-container">
        <!-- <form action=""></form> -->
        <div class="title">List LNX</div>
        <table class="styled-table">
        <thead>
            <tr>
                <th>Khách hàng</th>
                <th>Loại nhập xuất</th>
                <th>Thời gian nhận hàng</th>
                <th>Tên vật tư</th>
                <th>Quy cách</th>
                <th>Số lượng</th>
                <th>Trọng lượng</th>
                <th>Đơn giá</th>
                <th>CNKD</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% listLnxs.forEach(function(lnx) { %>
            <tr>
                
                <td><%= lnx.khachhang %></td>
                <td><%= lnx.loainhapxuat %></td>
                <td><%= lnx.thoigiannhanhang %></td>
                <td><%= lnx.tenvattu %></td>
                <td><%= lnx.quycach %></td>
                <td><%= lnx.soluong %></td>
                <td><%= lnx.trongluong %></td>
                <td><%= lnx.dongia %></td>
                <td><%= lnx.cbkd %></td>
                <td>
                    <div class="multi-button">
                        <a href="/update2/<%= lnx.id %>"><button class="button" id="cut"><span>      Edit</span></button></a>
                        <form action="/delete-lnx/<%= lnx.id %>" method="post"><button class="button" id="copy"></><span>      Delete</span></button></form>
                        
                    </div>
                </td>
            </tr>
            
            <% }); %>
        </tbody>
        </table>
    </div>
    <script src="https://kit.fontawesome.com/ade0b34805.js" crossorigin="anonymous"></script>
</body>
</html>